.btn--red {
  text-decoration: none;
    background-color: #e45028;
    border-radius: 0.3125rem;
    padding: 0.75rem 1.125rem;
    color: #fff;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: 0.8125rem;
    align-self: center; }

    .btn--red:hover {
      background: #c1401e;
    }
.btn-learn-more {
  display: block;
  text-decoration: none;
  padding: 0.75rem 0.875rem 0.75rem 0.875rem;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  font-family: Ubuntu;
  font-size: 0.8125rem;
 
}
  .btn-learn-more:hover {
    background-color: #1f2122; }
@media (max-width: 480px) {
  .btn-learn-more{
    display: none;
  }
}
  
.btn-reviews{
  color: #fff;
  text-align: center;
  line-height: 1;
  align-self: flex-start;
  background-color: #2f3234;}
  @media (max-width: 768px){
    .btn-reviews{
      display: block;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
   }
  }
  @media (max-width: 480px){
     .btn-reviews{
      display: none;
       margin-top: 1.25rem;
       align-self: center;
    }
}

@media (max-width: 480px){
  .btn-reviews--mobile{
  display: none;
}
}

.btn-reviews--mobile{
  display: none;

}
@media (max-width: 480px){
  .btn-reviews--mobile{
  display: block;
  margin-top: 1.25rem;
}
}

.btn--clean{
      color: rgb(196, 193, 193);
  text-transform: capitalize;
    font-size: 0.875rem;
      padding: 0.6875rem 1.1875rem;
    -webkit-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-family: Ubuntu;
    outline: none;
}
