$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

@import url(css/hero.scss);
@import url(css/menu.scss);
@import url(css/header.scss);
@import url(css/best.scss);
@import url(css/btn.scss);
@import url(css/fixed.scss);
@import url(css/normalize.scss);
@import url(css/review.scss);
@import url(css/fonts.scss);
@import url(css/base.scss);


@import url(css/media.scss);